body {
    margin: 0 auto;
    width: 80%;
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(243, 57, 113), rgb(102, 17, 166));
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#div {
    background-color: rgba(240, 248, 255, 0.53);
    padding: 2%;
    border-radius: 50px;
    width: 75%;
    position: center;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.div2 {
    background: rgb(190, 9, 9);
    color: antiquewhite;
    padding: 2%;
    border-radius: 50px;
    width: 50%;
    margin-left: 25%;
}

p {
    font-size: 18px;
}

h1, h2 {
    text-align: center;
}
h1 {
    font-size: 48px;
}

h2{
    font-size: 36px;
}

.webgl {
    width:fit-content;
}


/* Canvas */
.canvas-container {
    margin: 0 auto;
    text-align: center;
}

.canvas-container p{
    font-size: 12px;
}

canvas {
    border-radius: 10px 10px 0px 0px;
}

/*legend*/
ul > li {
    display: inline-block;
    font-size: 24px;
    margin-top: 0px;
    margin-left: 5%;
}

#red {
    color: rgb(140, 85, 2);
}

#green {
    color: rgb(22, 233, 22);
}

#blue {
    color: rgb(69, 119, 255);
}

#orange {
    color:orange;
}

#pink {
    color: pink;
}

#aqua {
    color:aqua;
}

/*ui*/
.lil-gui.root {
    border-radius: 10px;
    margin-left: 18.5%;
    width: 63%;
}

.lil-gui .name {
    font-size: 14px;
    font-weight: bold;
}

#lil-gui-name-1 {
    color: rgb(140, 85, 2);
}

#lil-gui-name-2 {
    color: rgb(22, 233, 22);
}

#lil-gui-name-3 {
    color: rgb(69, 119, 255);
}

#lil-gui-name-5 {
    color: orange;
}

#lil-gui-name-6 {
    color: silver;
}

#lil-gui-name-7 {
    color: maroon;
}   